
@{
    ViewBag.Title = "GPT1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GPT1</h2>
@using (Html.BeginForm())
{
    <label>Nhập số a:</label>
    <input type="text" name="soa" />
    <label>Nhập số b:</label>
    <input type="text" name="sob" />
    <input type="submit" value="Kết quả" />
}
<label> @ViewBag.abc</label>
